version: "3.8"
name: 3-craft
services:
  craft_server:
    container_name: 3-craft-php
    build: .
    restart: always
    ports:
      - 3380:80
    volumes:
      - ./craft/:/var/www/html
    depends_on:
      - craft_db
    networks:
      vpcbr:
        ipv4_address: 10.80.0.10
  craft_db:
    container_name: 3-craft-db
    image: mariadb:10.5
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=cr4ftd4t4b4s3
      - MYSQL_DATABASE=craftdb
      - TZ=Europe/Berlin
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 3381:3306
    networks:
      vpcbr:
        ipv4_address: 10.80.0.11
  dywe_phpmyadmin:
    container_name: 3-craft-phpmyadmin
    image: phpmyadmin
    restart: always
    ports:
      - 3382:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=10.80.0.11
      - PMA_USER=root
      - PMA_PASSWORD=cr4ftd4t4b4s3
      - UPLOAD_LIMIT=64M
    healthcheck:
      test: curl --fail -s http://localhost:80/ || exit 1
      interval: 60s
      timeout: 10s
      retries: 2
    networks:
      vpcbr:
        ipv4_address: 10.80.0.12
networks:
  vpcbr:
    driver: bridge
    ipam:
      config:
        - subnet: 10.80.0.0/16
